body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;

}

.background-image {
  background-image: url("../../resources/images/background.png");
}

.headp {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.headline2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../../resources/images/background.png");
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

a {
  font-size: 18px;
  color: white;
}
